.body {
    background-size: cover;
    overflow: hidden;
    /* background-color: red; */
    /* Full height */
}

.contentWrapper {
    font-size: 20px;
    position: absolute;
    height: 100%;
    left: 45%;
    top: 20%;
    width: 50%;
    padding: 1%;
}

h1 {
    margin-left: 12%;
}

.recogniseBtn {
    display: block;
    width: 115px;
    height: 25px;
    background: grey;
    padding: 10px;
    margin-left: 30%;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    line-height: 25px;
}