
<!DOCTYPE html>
<head>
    
    <link rel="stylesheet" href="/static/homePage.css"/>
</head>

<body class="body"  >
    <div class="contentWrapper">
        <h1>Digit recognition using CNN</h1>
        <p>  Handwriting recognition is one of the compelling research works going on because
            every individual in this world has their own style of writing. 
            It is the capability of the computer to identify and understand 
            handwritten digits or characters automatically.</p>
        <p> Because of the progress in the field 
            of science and technology, everything is being digitalized to reduce human effort. 
            Hence, there comes a need for handwritten digit recognition in many real-time applications. 
            MNIST data set is widely used for this recognition process and it has 70000 handwritten digits. 
            We use Artificial neural networks to train these images and build a deep learning model.</p>
            <p> 
            Web application is created where the user can upload an image of a handwritten digit. 
            this image is analyzed by the model and the detected result is returned on to UI
        </p>
        <a href="{{url_for('predict')}}" class="recogniseBtn">Recognise</a>
    </div>
    
</body>